*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url(images/cool-plain-blue-abstract-background-hd-wallpaper-design-free-vector.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: center;
    height: 100vh;
}
.th1, .th2, .th3{
    background-color:aliceblue;
}
nav{
    background-color:transparent;
    width: 800px;
    padding: 20px 30px;
    margin: auto;
    font-size: 20px;
    border-radius: 8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex; 
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
nav a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0,3s ease, transform 0,3s ease;

}

nav a:hover {
    color:rgb(33, 79, 197);
    transform: scale(1.1);
}
nav a{
    display: block;
    text-align: center;
}
@media (max-width:1439px){
    nav{
        font-size: 16px;
        gap: 20px;
        padding: 10px;
    }
}
nav a{
    display: block;
    text-align: center;
    /* width: 100%; */
}
